alias dl="cd ~/Downloads"
alias doc="cd ~/Documents"
alias dot="cd ~/dotfiles"
alias f=find
alias g=git
alias o=open
alias reload="exec ${SHELL} -l"
alias viminstall="vim +PluginInstall +qall"
alias vs="code ."
