alias commit="git add -A && git commit"
alias config="cd ~/.config"
alias cpc="git log -1 --pretty=%B | pbcopy"
alias dl="cd ~/Downloads"
alias doc="cd ~/Documents"
alias dot="cd ~/dotfiles"
alias gac="git add -A && git commit"
alias n="vim $NOTES_DIR/scratchpad.txt"
alias notes="cd $NOTES_DIR && vim ."
alias proj="cd ~/projects"
alias reload="exec $SHELL"
alias show_cursor="echo \"\033[?25h\""
alias todo="vim $NOTES_DIR/todo.txt"
alias vs="code ."
