function findall() {
  grep -R -i --exclude-dir=**/node_modules --exclude-dir=**/build --exclude-dir=**/dist $1 ./;
}

# Create and enter new directory
function mk() {
	mkdir -p "$@" && cd "$@";
}

function vimplugin() {
  sed -i "13iPlugin '$1'" ~/dotfiles/.vimrc;
  cp ~/dotfiles/.vimrc ~;
  viminstall;
}
