function findall() {
  grep -R --exclude-dir=**/node_modules --exclude-dir=**/build --exclude-dir=**/dist $1 ./;
}

# Create and enter new directory
function mk() {
	mkdir -p "$@" && cd "$@";
}

# Sync dotfiles
function syncdot() {
	source ~/dotfiles/sync.sh;
	reload;
}

# `v` with no arguments opens the current directory in Vim,
# otherwise opens the given location
function v() {
	if [ $# -eq 0 ]; then
		vim .;
	else
		vim "$@";
	fi;
}

function vimplugin() {
  sed -i "13iPlugin '$1'" ~/dotfiles/.vimrc;
  cp ~/dotfiles/.vimrc ~;
  viminstall;
}
