[user]
	name = Luke Geneva
	email = lukegeneva@gmail.com
[alias]
	s = status
	co = checkout
	unstage = reset HEAD --
	aa = add .
	cm = commit
	d = diff
	ds = diff --staged
[core]
	editor = /usr/bin/vim
